div.jumbotron {
    background-color: coral;
}
div > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.custom {
    vertical-align: middle;
}

.text-primary {
    color: lightslategrey;
}