@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Asp.NET Core</h1>
    <p>Today we will learn the basics of Asp.Net core MVC</p>
</div>
